html{width: 100%;}
body{width: 100%; background-color: #383838; margin: 0;}
main{width: 100%; display: table; margin: auto; padding: 0px 4px 20px 4px;}
table{margin:auto;}
select{margin: 0 auto; display: block; padding:5px;}
h1, h2, h3, h4, td{color: #f5f5f5;text-align: center;}
h4{margin: 0;}
span{border-top: 1px solid #f5f5f5;}
.buttons{width: 100%; display: inline-block; text-align: center; padding-top:10px;}    
.calc, .select-trend, .generate{width: 100%; float:left; display:block;}
.calc{padding-top:15px;}
.button-addtr, .button-removetr{margin: 0 auto; display: inline-block; height:48px; width:48px; font-size:30px; border-radius:50%;}
.button-calc{margin: 0 auto; display: block; font-size:20px; padding:6px;}
.generate-table td{background-color: #848484; padding: 5px 10px 5px 10px;}
